:root {
    --md-state-default: 0;
    --md-state-hover: 0.08;
    --md-state-focus: 0.10;
    --md-state-press: 0.10;
    --md-state-drag: 0.16;

    --md-rounding-xs: 0.25rem;
    --md-rounding-sm: 0.5rem;
    --md-rounding-md: 0.8rem;
    --md-rounding-lg: 1rem;
    --md-rounding-xl: 1.8rem;
    --md-rounding-full: 1000px;

    --z-drawer: 1;
    --z-scrim: 50;
    --z-active-app: 100;

    --drawer-margin: 0rem;
    --drawer-height: 6rem;
}

.home {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.drawer {
    position: fixed;
    left: 50%;
    bottom: var(--drawer-margin);
    display: flex;
    width: fit-content;
    height: var(--drawer-height);
    align-items: center;
    justify-content: center;
    background-color: var(--md-sys-color-surface-container);
    color: var(--md-sys-color-on-surface);
    padding: 0 1rem;
    border-radius: 1000px;
    transform: translate(-50%, -50%);
    z-index: var(--z-drawer);
    backdrop-filter: blur(100px);
}

.drawer .hint {
    position: absolute;
    top: -50%;
    font-style: italic;
    color: var(--md-sys-color-on-surface);
    font-size: 0.8rem;
}

.scrim {
    display: block;
    position: fixed;
    bottom: calc(50% - var(--drawer-height));
    left: 50%;
    transform: translate(-50%, var(--drawer-margin));
    width: 100vw;
    height: 100vh;
    background-color: var(--md-sys-color-scrim);
    backdrop-filter: blur(100px);
    opacity: 32%;
    z-index: var(--z-scrim);
    pointer-events: none;
}

.apps {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 4rem;
    background: var(--md-sys-color-primary-container);
    color: var(--md-sys-color-on-primary-container);
    border-radius: var(--md-rounding-full);
    overflow: hidden;
}

.btn-wrapper .state-layer {
    width: 100%;
    height: 100%;
    opacity: var(--md-state-default);
    background: var(--md-sys-color-on-primary-container);

}

.btn-wrapper label {
    display: none;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.app-icon {
    position: absolute;
}

.modal {
    position: fixed;
    top: calc(50% - var(--drawer-height) + var(--drawer-margin));
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 50%;
    background-color: var(--md-sys-color-primary-fixed);
    color: var(--md-sys-color-on-primary-fixed);
    border-radius: var(--md-rounding-md);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modal h1 {
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 0.02rem;
    text-align: left;
    margin-block-start: 0;
    margin-block-end: 0;
}

.modal p {
    color: var(--md-sys-color-on-primary-fixed-variant);
    position: relative;
    align-self: flex-start;
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
    margin-block-start: 0;
    margin-block-end: 0.5rem;
    line-height: 120%;
}

.modal a {
    text-decoration: underline;
}

.modal a:visited {
    color: inherit;
}