@import url(themes/light.css) screen and (prefers-color-scheme: light);
@import url(themes/dark.css) screen and (prefers-color-scheme: dark);
@import url(../node_modules/modern-normalize/modern-normalize.css);

:root {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

body {
    color: var(--md-sys-color-on-surface);
    background-color: var(--md-sys-color-surface);
}

button {
    border: none;
}