.app-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: var(--z-active-app);
}

.action-container {
    position: absolute;
    margin: 0;
    padding: 0;
}